In [1]:
import pandas as pd

# in this step we can load the clean_rex data 
df = pd.read_csv('clean_crx.csv')

In [2]:
df.head(10)

  A1     A2      A3 A4 A5  A6 A7     A8 A9 A10  A11 A12 A13  A14    A15 A16
0  b  30.83   0.000  u  g   w  v  1.250  t   t    1   f   g  202      0   +
1  a  58.67   4.460  u  g   q  h  3.040  t   t    6   f   g   43    560   +
2  a  24.50   0.500  u  g   q  h  1.500  t   f    0   f   g  280    824   +
3  b  27.83   1.540  u  g   w  v  3.750  t   t    5   t   g  100      3   +
4  b  20.17   5.625  u  g   w  v  1.710  t   f    0   f   s  120      0   +
5  b  32.08   4.000  u  g   m  v  2.500  t   f    0   t   g  360      0   +
6  b  33.17   1.040  u  g   r  h  6.500  t   f    0   t   g  164  31285   +
7  a  22.92  11.585  u  g  cc  v  0.040  t   f    0   f   g   80   1349   +
8  b  54.42   0.500  y  p   k  h  3.960  t   f    0   f   g  180    314   +
9  b  42.50   4.915  y  p   w  v  3.165  t   f    0   t   g   52   1442   +

In [3]:
X = df[df.columns[0:-1]] # columns 0 to second last column contain non-class attributes 
X = pd.get_dummies(X)
y = df.A16 # store class lables in the variable y

X # quick look at what are we feeding our model

,A2,A3,A8,A11,A14,A15,A1_a,A1_b,A4_l,A4_u,...,A7_z,A9_f,A9_t,A10_f,A10_t,A12_f,A12_t,A13_g,A13_p,A13_s
0,30.83,0.000,1.25,1,202,0,0,1,0,1,...,0,0,1,0,1,1,0,1,0,0
1,58.67,4.460,3.04,6,43,560,1,0,0,1,...,0,0,1,0,1,1,0,1,0,0
2,24.50,0.500,1.50,0,280,824,1,0,0,1,...,0,0,1,1,0,1,0,1,0,0
3,27.83,1.540,3.75,5,100,3,0,1,0,1,...,0,0,1,0,1,0,1,1,0,0
4,20.17,5.625,1.71,0,120,0,0,1,0,1,...,0,0,1,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,21.08,10.085,1.25,0,260,0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,0
686,22.67,0.750,2.00,2,200,394,1,0,0,1,...,0,1,0,0,1,0,1,1,0,0
687,25.25,13.500,2.00,1,200,1,1,0,0,0,...,0,1,0,0,1,0,1,1,0,0
688,17.92,0.205,0.04,0,280,750,0,1,0,1,...,0,1,0,1,0,1,0,1,0,0
689,35.00,3.375,8.29,0,0,0,0,1,0,1,...,0,1,0,1,0,0,1,1,0,0

In [4]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics


# divide the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) # note we using %80 training size

In [5]:
criteria = ["entropy", "gini"]

print('Depth, Criteria, Accuracy_score')

for crt in criteria:
    for depth in range(1,5):
        dt = DecisionTreeClassifier(max_depth=depth, criterion=crt) # create an instance od DecisionTreeClassifier
        dt.fit(X_train, y_train) # train teh classifier on the training data to learn a model 
        y_predicted = dt.predict(X_test) # used the learned model to predict class labels for test values
        accuracy = metrics.accuracy_score(y_test,y_predicted) # compute the accuracy score by comparing actual and predicted class labels
        print(depth, '    ', crt , '    ', str(accuracy))

Depth, Criteria, Accuracy_score
1      entropy      0.8260869565217391
2      entropy      0.8260869565217391
3      entropy      0.8260869565217391
4      entropy      0.8115942028985508
1      gini      0.8260869565217391
2      gini      0.8260869565217391
3      gini      0.8260869565217391
4      gini      0.8188405797101449